<input type="number" name="num1" [(ngModel)]="num1" >
<input type="number" name="num2" [(ngModel)]="num2">
<input type="number" placeholder="Resultado" name="resultado" [(ngModel)]="resultado">

<div>
    <div>
        <div>
          <button class="btn btn-outline-primary" style="margin-right: 5px;" (click)="somar()">Somar</button>
          <button class="btn btn-outline-primary" style="margin-right: 5px;" (click)="subtrair()">Subtrair</button>
          <button class="btn btn-outline-primary" style="margin-right: 5px;" (click)="dividir()">Dividir</button>
          <button class="btn btn-outline-primary" style="margin-right: 5px;" (click)="multiplicar()">Multiplicar</button>
        </div>
    </div>
</div>
