<div class="container">
  <div class="row">
    <form ngNativeValidate>
      <!-- Testa maluco -->
      <div class="mb-3">
        <label for="input1" class="form-label">Nome:</label>
        <input type="text" class="form-control col-3" id="nome" aria-describedby="nome" name="nome" [(ngModel)]="nome" required>
        
        <label for="input1" class="form-label">Sexo</label>
        <input type="text" class="form-control" id="sexo" aria-describedby="sexo" name="sexo"  [(ngModel)]="sexo" required>

        <label for="input1" class="form-label">Idade</label>
        <input type="number" class="form-control" id="idade" aria-describedby="idade" name="idade" [(ngModel)]="idade" required>
        
        <label for="input1" class="form-label">Valor</label>
        <input type="number" class="form-control" id="valor" aria-describedby="valor" name="valor" [(ngModel)]="valor" required>
        
        <button type="submit" class="btn btn-outline-primary" (click)="Apolice()">Resultado da Apolice</button>
        <input type="number" class="m-1" name="resultado" [(ngModel)]="resultado">
        <button  class="btn btn-primary m-2" type="reset">Limpar Campos</button>
      </div>
    </form>
  </div>
</div>


