<div class="container">
    <div class="row">
       <div>
          <input type="number" class="form-control col-3" id="ac1" placeholder="Nota AC1:" name="ac1" [(ngModel)]="ac1"> 
          <input type="number" class="form-control" id="ac2" placeholder="Nota AC2:" name="ac2"  [(ngModel)]="ac2">
          <input type="number" class="form-control" id="ag" placeholder="Nota AG:" name="ag" [(ngModel)]="ag" >
          <input type="number" class="form-control" id="af" placeholder="Nota AF:" name="af" [(ngModel)]="af">
      
          <button class="btn btn-outline-primary" type="button" (click)="Media()">Média</button>

          <input type="number" class="m-1" name="media" [(ngModel)]="media">
       </div>
         
    </div>
</div>
